!!!
%html
  %head  
    %meta{'charset' => 'utf-8'}
    %link{rel:'stylesheet', href:"stylesheets/main.css"}
    %title Projet de TX
  %body  
    %h1 Projet TX
    %nav Catalogue
    %section
      = yield

